/* Navbar */
.navbar {
  padding: 2rem;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.navbar-mi {
  background-color: white;
}
/* Reglas generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
  font-family: "Rubik Dirt", cursive;
}

.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}
.seccion-clara {
  color: black;
  background-color: white;
}
.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", cursive;
}
.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}
.seccion-texto {
  font-size: 1.2rem;
}
.texto-negro {
  color: black;
}
.texto-blanco {
  color: white;
}
.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

/* Seccion principal o hero llamadas comunmente */
.sec-presentation {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}
.presentation-cont-img {
  width: 100px;
  height: 100px;
  /* padding-top: 0.5rem; */
  margin: 20px;
}
.presentation-cont {
  padding: 3rem;
}

.presentation-cont h2 {
  font-size: 1.5rem;
  color: #615151;
}
.sec-presentation-inf-img {
  width: 70%;
  height: 400px;
}
/* Seccion about me */
.about-me {
  height: 500px;
  padding: 10px;
}
.about-me .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */
.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.badges-contenedor {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
.badge {
  margin: 5px;
}
.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
}
.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}
.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}
/* Proyectos */
.proyectos-recientes {
  padding: 40px;
}
.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}
.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}
.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-emphasis: center;
}
.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.proyecto {
  position: relative;
}
.proyecto:hover img {
  opacity: 0.2;
}
.proyecto:hover .overlay {
  opacity: 1;
}
.overlay .iconos-contenedor {
  display: flex;
}
.overlay i {
  color: black;
  font-size: 40px;
  margin: 10px;
}
/* Artucilos */
.articulos {
  min-height: 500px;
  padding: 30px;
}
.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}
.articulos .card-header {
  font-weight: bolder;
}
/* testimonios */
.testimonios {
  padding: 40px 40px 80px 40px;
}
.testimonios .carousel {
  max-width: 800px;
}
.carousel-item {
  height: 400px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}
.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
}
.testimonio-info {
  font-weight: bold;
  text-align: center;
}
.testimonio-info p {
  margin-bottom: 0;
}
.testimonio-info .cliente {
  font-size: 1.2rem;
}
.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Funcion para ocultar el fav-icon en pantallas  con max-width < Valor en(px) */
@media screen and (max-width: 576px) {
  .navbar-brand {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .sec-presentation-inf-img {
    max-width: 600px;
  }
}
@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 15px;
  }
  .overlay i {
    font-size: 10px;
  }
}
